* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0A1B26;
    color: #F9FAFB;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav {
    height: 48px;
    background-color: #0D2A3A;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 80px;
    width: 80px;
}

#nav-button {
    background-color: #045F94;
    border: none;
    border-radius: 10px;
    padding: 15px 40px;
    color: white;
    font-weight: bold;
    font-size: medium;
    text-align: left;
    margin-left: 10px;
    text-decoration: none;
}

nav button:hover {
    background-color: #015585;
}

.welcome {
    color: white;
}

#main-card {
    background-color: #1F2937;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    max-width: 90%;
    width: fit-content;
    margin: 66px auto;
}

h1 {
    text-align: center;
    padding-bottom: 30px;
    color: #93C5FD;
}

tr:nth-child(even) {
    background-color: #273340;
}

th, td {
    border: 1px solid #4B5563;
    padding: 25px;
    text-align: center;
    max-width: 200px;
    color: #F9FAFB;
}

th {
    border-bottom: 5px solid #6B7280;
    text-decoration: underline;
    background-color: #374151;
}

table {
    border: 2px solid #6B7280;
    border-collapse: collapse;
}

.table-container {
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid #6B7280;
    display: inline-block;
}

button[type="submit"] {
    background-color: #045F94;
    border: none;
    border-radius: 12px;
    color: white;
    margin-top: 2px;
    padding: 15px;
    cursor: pointer;
}

button[value="ban"]:hover {
    background-color: red;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.pagination a {
    text-decoration: none;
    color: #ffffff;
    background-color: #007bff;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.pagination a:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

.pagination a[style*="font-weight: bold;"] {
    background-color: #045F94;
    color: #ffffff;
    font-weight: bold;
    cursor: default;
    pointer-events: none;
}

.pagination a:disabled {
    background-color: #4B5563;
    color: #9CA3AF;
    cursor: not-allowed;
    pointer-events: none;
}

#spinner{
    text-align: center;
    padding-top: 10px;
}



footer {
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #0D2A3A;
    width: 100%;
    margin-top: auto;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 30px 0;
}

footer a {
    color: #93C5FD;
}

footer a:hover {
    text-decoration: underline;
}
