* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0A1B26;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main-card {
    background-color: #1F2937;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    width: 400px;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #60A5FA;
}

p {
    margin-bottom: 10px;
    font-size: 1em;
    color: #D1D5DB;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    border: 1px solid #475569;
    border-radius: 10px;
    padding: 10px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    background-color: #111827;
    color: #F9FAFB;
}

input:focus {
    outline: none;
    border-color: #60A5FA;
    box-shadow: 0 0 5px rgba(96, 165, 250, 0.5);
}
