* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f9fafb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main-card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #045F94;
}

p {
    margin-bottom: 10px;
    font-size: 1em;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
}

input:focus {
    outline: none;
    border-color: #045F94;
    box-shadow: 0 0 5px rgba(4, 95, 148, 0.5);
}

#main-card a {
    text-align: center;
    display: block;
    margin-top: 20px;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}