* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    height: 48px;
    background-color: #0D2A3A;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    height:80px;
    width: 80px;
}

nav button {
    background-color: #045F94;
    border-style: none;
    border-radius: 10px;
    padding: 15px 40px;

    color: white;
    font-weight: bold;
    font-size: medium;
    text-align: left;
    
}

nav button:hover {
    background-color: #015585;
}

body {
    background-color: #f9fafb;
}

legend {
    font-size: 1.5em;
}

form{
    width:30%;
    text-align: center;
    margin:auto;
    padding-top: 50px;
}

fieldset{
    background-color: white;
    border: none;
}

table{
    margin-left: 25px;
    border-radius: 15px;
    border-style: solid;
    margin: auto;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 30px;
    text-align: left;
}

/*
input{
    border-radius: 8px;
    width: 100%;

}
*/

input {
    border-style:solid;
    width: 100%;
    font-size: 1em;
    padding: 10px 0px;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
}

input[type="submit"]{
    background-color: #045F94;
    color:white;
}

input[type="submit"]:hover{
    background-color: #015585;
    cursor: pointer;
}
